<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Generated CV</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/cv.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <ul class="my-contact-info">
            <li><%= u.street_address %></li>
            <li><%= "#{u.city}, #{u.state} #{u.zip}" %></li>
        </ul>
        <p class="date"><%= Time.now.strftime("%B %d, %Y")%></p>
        <ul>
            <li><span class="js-define highlighted" title="Their Name">Contact Name</span></li>
            <li><span class="js-define highlighted" title="Their Business Name">Company Name, Inc.</span></li>
            <li><span class="js-define highlighted" title="Their Street Address">123 Main Street</span></li>
            <li><span class="js-define highlighted" title="Their City/State/Zip">Denver, CO 80204</span></li>
        </ul>
        <p class="salutation"><span class="js-define highlighted" title="Salutation">Dear Mr./Mrs. Smith,</span></p>
        <section role="main">
            <%= yield %>
        </section>
        <footer>
            <p>Sincerely,</p>
            <p><%= u.name %></p>
        </footer>
        <script src="/js/cv.js"></script>
    </body>
</html>
