<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Generated CV</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/cv.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="cv">
            <ul class="my-contact-info">
                <li><%= street_address %></li>
                <li><%= "#{city}, #{state} #{zip}" %></li>
            </ul>
            <ul>
                <li><span class="js-define highlighted" title="Their Name">Contact Name</span></li>
                <li><span class="js-define highlighted" title="Their Business Name">Company Name, Inc.</span></li>
                <li><span class="js-define highlighted" title="Their Street Address">123 Main Street</span></li>
                <li><span class="js-define highlighted" title="Their City/State/Zip">Denver, CO 80204</span></li>
            </ul>
            <section role="main">
                <p class="salutation"><span class="js-define highlighted" title="Salutation">Dear Mr./Mrs. Smith,</span></p>
                <%= yield %>
                <p>I can be reached anytime by email at <%= email %>, or by phone at <%= phone %></p>
            </section>
            <footer>
                <p>Sincerely,</p>
                <p><%= name %></p>
            </footer>
        </div>

        <script>
            function updateText(updatedText, id) {
                var index = id.split("-")[1];
                $("#field-" + index).text(updatedText);
                $("#field-" + index).removeClass("highlighted");
                $("#field-" + index).popover('hide');
            }

            function generateInputElement(n) {
                return $("<input/>", { id: "input-" + n, type:"text", value:"", onchange:"updateText(this.value, this.id);" });
            }

            $(".js-define").each(function(index) {
                $(this).attr('id', "field-" + index);
                $(this).popover({
                    "html": true,
                    "placement": "bottom",
                    "content": generateInputElement(index)
                });
            });
        </script>
    </body>
</html>
